/*
===================================
 Multi-purpose
===================================
 */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

.about-main {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 60px;
}

.about-main p {
  text-align: left;
}

.about-main ul {
  text-align: left;
}

.button {
  border: 1px lightgray solid;
  display: inline-block;
  font-family: inherit;
  background-color: #ececec;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

button {
  border: 1px lightgray solid;
  display: inline-block;
  font-family: inherit;
  background-color: #ececec;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #b7bfc7;
}

button:focus {
  cursor: pointer;
  opacity: undefined;
}

.button:hover {
  background-color: #b7bfc7;
}

.button:focus {
  cursor: pointer;
  opacity: undefined;
}

.button:visited {
  color: black;
}

.button__secondary {
  background-color: #ececec;
  color: black;
  margin-top: 15px;
  border: 1px lightgray solid;
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.button__secondary:visited {
  color: black;
}

.button__secondary:hover {
  background-color: #b7bfc7;
}

a:visited {
  color: #6b62d2;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  color: #627bfb;
}

.app-image {
  width: 75%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.card-ul {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

/*
===================================
 Navigation
===================================
 */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #565656;
}

header img {
  width: 13%;
  height: 13%;
  margin-left: 2%;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  display: block;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  margin-right: 2%;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
}

.navigation-list__item--active {
  font-weight: bold;
  color: #62c9fb;
}

.navigation-list li a {
  color: #fff;
  text-decoration: none;
}

.navigation-list li a:hover {
  text-decoration: underline;
}

/*
===================================
 Footer
===================================
 */

.page-footer {
  display: block;
  text-align: center;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 40px;
}

.social_item {
  text-align: center;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

/*
===================================
Slideshow
===================================
 */

.slide_wrapper {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 34% 3% 60% 3%;
  grid-template-columns: 5fr 1fr 8fr 1fr;
  grid-template-rows: 500px 100px 100px 150px;
}

#intro {
  margin-left: 20%;
}

.container, .display-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

.left {
  transform: translate(0%, -50%);
  background-color: lightgray;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  margin-left: 75%;
  margin-top: 300%;
}

.right {
  transform: translate(0%, -50%);
  background-color: lightgray;
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  margin-right: 75%;
  margin-top: 300%;
  margin-bottom: 0;
  display: block;
}

.large {
  font-size: 18px!important;
}

.slide-image {
  width: 95%;
  border: 1px solid lightgray;
  border-radius: 5px;
}


/*
===================================
 Contact
===================================
 */

.contact {
  text-align: center;
}

/*
===================================
 About table
===================================
 */

table {
  width: 700px;
  border-collapse: collapse;
  margin-top: 40px;
  border: 2px solid lightgray;
}

table th {
  text-align: left;
  padding-left: 5px;
  font-size: 20px;
  border: 2px solid lightgray;
  width: 33%;
}

table td {
  padding-left: 5px;
  font-size: 18px;
  text-align: left;
  border: 2px solid lightgray;
}

/*
===================================
 Work grid
===================================
 */

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 275px;
  grid-template-rows: 275px;
  grid-gap: 20px;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid__item {
  background-color: #ececec;
  border-radius: 5px;
  width: 250px;
  height: 275px;
  padding: 15px;
}

.grid__item:hover {
  background-color: #b7bfc7;

}

.grid_app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 300px;
  grid-template-rows: 300px;
  grid-gap: 10px;
  margin-top: 30px;
}

.grid__app_item {
  background-color: #ececec;
  border-radius: 5px;
  width: 300px;
  padding-left: 7px;
  padding-right: 7px;
}

.card-ul {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  text-align: left;
  padding-bottom: 15px;
}

/*
===================================
 Animations
===================================
 */

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 45px);
    transform: translate(446px, 45px);
  }

  to {
    -webkit-transform: translate(100px, 45px);
    transform: translate(100px, 45px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 45px);
    transform: translate(446px, 45px);
  }

  to {
    -webkit-transform: translate(100px, 45px);
    transform: translate(100px, 45px);
  }
}

#XMLID_10079_,
#XMLID_10065_,
#XMLID_10072_ {
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-name: cloud-move;
  animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

/*
===================================
 Responsive classes
===================================
 */

@media all and (max-width: 768px) {

  h1 {
    display: block;
    font-size: 26px;
    text-align: center;
  }

  .profile h1 {
    display: block;
  }

  .profile {
    text-align: center;
  }

  header img {
    margin-left: 0;
    width: 25%;
    height: 25%;
  }

  .navigation-list {
    margin-right: 0;
  }

  .navigation-list li {
    margin-left: 10px;
    margin-right: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: none;
    grid-template-rows: none;
  }

  .slide_wrapper {
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: none;
    grid-template-rows: none;
  }



  .container, .display-container {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .left {
    transform: translate(0%, -50%);
    background-color: lightgray;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    position: absolute;
    display: none;
  }

  .right {
    transform: translate(0%, -50%);
    background-color: lightgray;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-left: 92%;
    margin-top: -77%;
    position: absolute;
    display: none;
  }

  #intro {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  h2 {
    display: block;
    font-size: 20px;
    text-align: center;
  }

  a.button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
  }

  .about-main {
    padding-left: 20px;
    padding-right: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid lightgray;
    text-align: left;
  }
}

@media all and (min-width: 375px) and (max-width: 768px) {
  .navigation-list li {
    margin-left: 10px;
    margin-right: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
  }
}

@media all and (min-width: 375px) and (max-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid_app {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid__item {
    margin-left: auto;
    margin-right: auto;
  }

  .grid__app_item {
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper__item {
    border-radius: 5px;
    grid-column: auto / auto;
    grid-row: auto / auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #contact-form input {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 16px;
  }

  #contact-form select {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 16px;
  }

  #contact-form input:invalid {
    border: 2px solid lightgray;
    width: 235px;
    height: 55px;
    padding: 15px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .standard-label {
    margin-left: auto;
    margin-right: auto;
  }

  #contact-form #message {
    width: 235px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid lightgray;
  }

}

@media all and (max-width: 768px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .grid__app_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  #contact-form {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  #contact-form fieldset {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 320px;
    background: #ececec;
    font-size: 18px;
    border: 3px solid lightgray;
    border-radius: 10px;
  }

  .page-footer p {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 0;
  }
}
